<ul class="list-group w-100 mt-5">
  <li class="list-group-item  d-flex justify-content-between w-100" *ngFor="let todo of todos">
    <span>
      <input (change)="changeStatus(todo)" type="checkbox" [checked]="todo.isCompleted" />
    </span>

    <span [ngClass]="{ completedTodo : todo.isCompleted }">
      {{ todo.title }}
    </span>

    <span>
      {{ todo.date | date }}
    </span>

    <span>
      <fa-icon (click)="deleteTodo(todo)" [icon]="faTrashAlt"></fa-icon>
    </span>

  </li>
</ul>
